@page "/customers-view/{CustomerEntityID:int}"
@using PB.CRM.Model.Enum;
@using PB.Model.Models;
@using PB.Shared.Models;
@using PB.Shared.Models.CRM.Customer;
@attribute [Authorize(Roles = "Customer")]

<PageLayoutNew>
    <div class="main-container container-fluid">
        <div class="row">
            <ListPageMenuLayout MenuCategories="listPageMenuCategories"
                                MenuItems="menuItem"
                                ListHeading="All Customers"
                                SinglePageURL="customer"
                                OnMenuItemSelect="LoadViewData"
                                SelectedMenuID="CustomerStage2Data.EntityID.Value" />

            <div class="itemlist-container">

                <div class="page-header">
                    <h1 class="page-title">@CustomerStage2Data.Name</h1>
                    <div class="btn-toolbar float-right mr-7">

                        <a class="btn btn-white btn-md me-2" @onclick="EditCustomer">
                            <i class="fa fa-pencil" style="color:var(--primary-bg-color)"></i>
                        </a>

                        <a class="btn btn-white btn-md me-2" @onclick="async () => await DeleteCustomer()">
                            <i class="fa fa-trash" style="color:red"></i>
                        </a>
                        <a class="btn btn-white btn-md me-2" @onclick="@(()=>Nav.NavigateTo($"customers"))">
                            <i class="ion-close-round" style="color:var(--secondary-bg-color)"></i>
                        </a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!--Switching Tabs-->
                                <div class="panel panel-primary">
                                    <!--Tab Headings-->
                                    <div class=" tab-menu-heading">
                                        <div class="tabs-menu1">
                                            <!-- Tabs -->
                                            <ul class="nav panel-tabs">
                                                <li><a href="#customerPageOverView" class="active" data-bs-toggle="tab">Details</a></li>
                                                <li><a href="#customerAdditionalDetails" data-bs-toggle="tab">Additional Details</a></li>
                                                @if (CustomerStage2Data.Addresses.Count > 0)
                                                {
                                                    <li><a href="#customerPageAddress" data-bs-toggle="tab">Addresses</a></li>
                                                }
                                                @if (CustomerStage2Data.ContactPersons.Count > 0)
                                                {
                                                    <li><a href="#customerPageContactPersons" data-bs-toggle="tab">Contact Persons</a></li>
                                                }
                                                @if (CustomerStage2Data.CustomerServices.Count > 0)
                                                {
                                                    <li><a href="#customerPageServices" data-bs-toggle="tab">Customer Services</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body tabs-menu-body">
                                        <div class="tab-content">
                                            <!--Overview Tab-->
                                            <div class="tab-pane active" id="customerPageOverView">
                                                <div class="item-details-page">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-12">
                                                            <div class="group pb-3">
                                                                <div class="row">
                                                                    @if(CustomerStage2Data.Type==(int)CustomerTypes.Individual)
                                                                    {
                                                                        <label class="col-5 col-auto items-label text-muted">Customer Name</label>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label class="col-5 col-auto items-label text-muted">Company Name</label>
                                                                    }

                                                                    <label class="col-7 col-auto">@CustomerStage2Data.Name</label>
                                                                </div>
                                                            </div>
                                                            @if (!string.IsNullOrEmpty(CustomerStage2Data.TaxNumber))
                                                            {
                                                                <div class="group pb-3">
                                                                    <div class="row">
                                                                        <label class="col-md-5 col-auto items-label text-muted">Tax No </label>
                                                                        <label class="col-md-7 col-auto ">@CustomerStage2Data.TaxNumber</label>
                                                                    </div>
                                                                </div>
                                                            }
                                                           
                                                            <div class="group pb-3">

                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Mobile </label>
                                                                    <label class="col-md-7 col-auto ">@CustomerStage2Data.Phone</label>
                                                                </div>

                                                                <div class="row">
                                                                    <label class=" text-muted items-label col-md-5 col-auto">Email</label>
                                                                    <label class="col-md-7 col-auto">@CustomerStage2Data.EmailAddress</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Type</label>
                                                                    <label class="col-md-7 col-auto">
                                                                        @(((CustomerTypes)CustomerStage2Data.Type).ToString())
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Status</label>
                                                                    <label class="col-md-7 col-auto">
                                                                        @(((CustomerStatus)CustomerStage2Data.Status).ToString())
                                                                    </label>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="customerAdditionalDetails">
                                                <div class="item-details-page">
                                                    <div class="row">
                                                        <div class="col-lg-8 col-12">
                                                            <div class="group pb-3">
                                                                <div class="row">
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Customer Since </label>
                                                                    <label class="col-md-7 col-auto ">@((CustomerStage2Data.JoinedOn != null ? CustomerStage2Data.JoinedOn.Value.ToString("dd/MM/yyyy") : ""))</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Category </label>
                                                                    <label class="col-md-7 col-auto ">@CustomerStage2Data.CategoryName</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Business Type </label>
                                                                    <label class="col-md-7 col-auto ">@CustomerStage2Data.BusinessTypeName</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Accountant Email </label>
                                                                    <label class="col-md-7 col-auto ">@CustomerStage2Data.AccountantEmailID</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Accountant Contact </label>
                                                                    <label class="col-md-7 col-auto ">@CustomerStage2Data.AccountantContactNo</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Tally Serial No </label>
                                                                        @if (CustomerStage2Data.TallyNos.TallySerialNo != null)
                                                                        {
                                                                            <label class="col-md-7 col-auto ">@((CustomerStage2Data.TallyNos.TallySerialNo != "0")) @((CustomerStage2Data.TallyNos.TallySerialNo2 != "0" ? "  |  " + CustomerStage2Data.TallyNos.TallySerialNo2 : "")) @((CustomerStage2Data.TallyNos.TallySerialNo3 != "0" ? "  |  " + CustomerStage2Data.TallyNos.TallySerialNo3 : "")) </label>
                                                                        }
                                                                 </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Tally Email </label>
                                                                    <label class="col-md-7 col-auto ">@CustomerStage2Data.TallyEmailID</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Customer Priority </label>
                                                                    <label class="col-md-7 col-auto ">@CustomerStage2Data.CustomerPriority</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Owned By </label>
                                                                    <label class="col-md-7 col-auto ">@CustomerStage2Data.StaffName</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Remarks</label>
                                                                    <label class="col-md-7 col-auto">
                                                                        @CustomerStage2Data.Remarks
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>

                                            @if (CustomerStage2Data.Addresses.Count > 0)
                                            {
                                                <!--Addres Tab-->
                                                <div class="tab-pane" id="customerPageAddress">
                                                    <div class="item-details-page">
                                                        <div class="row">
                                                            <div class="col-lg-8 col-12">

                                                                @for (int i = 0; i < CustomerStage2Data.Addresses.Count; i++)
                                                                {
                                                                    var address = CustomerStage2Data.Addresses[i];
                                                                    <div class="group pb-3">

                                                                        <div class="row">
                                                                            <label class="col-7 col-auto items-label text-muted">@(((AddressTypes)address.AddressType) == 0 ? " " : ((AddressTypes)address.AddressType).ToString()) Address</label>
                                                                        </div>

                                                                        <div class="row">
                                                                            <label class="col-md-5 col-auto items-label text-muted">Address Line 1 </label>
                                                                            <label class="col-md-7 col-auto ">@address.AddressLine1</label>
                                                                        </div>

                                                                        <div class="row">
                                                                            <label class="col-md-5 col-auto items-label text-muted">Address Line 2 </label>
                                                                            <label class="col-md-7 col-auto ">@address.AddressLine2</label>
                                                                        </div>

                                                                        @if (!string.IsNullOrEmpty(address.AddressLine3))
                                                                        {
                                                                            <div class="row">
                                                                                <label class="col-md-5 col-auto items-label text-muted">Address Line 3 </label>
                                                                                <label class="col-md-7 col-auto ">@address.AddressLine3</label>
                                                                            </div>
                                                                        }

                                                                        <div class="row">
                                                                            <label class="col-md-5 col-auto items-label text-muted">Pincode </label>
                                                                            <label class="col-md-7 col-auto ">@address.Pincode</label>
                                                                        </div>

                                                                        @*<div class="row">
                                                                            <label class="col-md-5 col-auto items-label text-muted">City </label>
                                                                            <label class="col-md-7 col-auto ">@address.City</label>
                                                                        </div>*@

                                                                        <div class="row">
                                                                            <label class="col-md-5 col-auto items-label text-muted">State </label>
                                                                            <label class="col-md-7 col-auto ">@address.State</label>
                                                                        </div>

                                                                        <div class="row">
                                                                            <label class="col-md-5 col-auto items-label text-muted">Country </label>
                                                                            <label class="col-md-7 col-auto ">@address.CountryName</label>
                                                                        </div>

                                                                    </div>

                                                                    <div class="divider my-2"></div>

                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            @if (CustomerStage2Data.ContactPersons.Count > 0)
                                            {
                                                <!--Contact Persons-->
                                                <div class="tab-pane" id="customerPageContactPersons">
                                                    <div class="item-details-page">
                                                        <div class="row">
                                                            <table class="table border text-wrap text-nowrap table-bordered table-responsive mb-0 ">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sl No</th>
                                                                        <th>Name</th>
                                                                        <th>Phone</th>
                                                                        <th>Mail</th>
                                                                        <th>Designation</th>
                                                                        <th>Department</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (CustomerStage2Data.ContactPersons.Count > 0)
                                                                    {
                                                                        @foreach (var person in CustomerStage2Data.ContactPersons)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @person.RowIndex
                                                                                </td>
                                                                                <td>
                                                                                    @person.Name
                                                                                </td>
                                                                                <td>
                                                                                    @person.Phone
                                                                                </td>
                                                                                <td>
                                                                                    @person.Email
                                                                                </td>
                                                                                <td>
                                                                                    @person.Designation
                                                                                </td>
                                                                                <td>
                                                                                    @person.Department
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr>
                                                                            <td colspan="5" class="text-center p-5" style="min-height:150px;pointer-events:none;">
                                                                                <label>
                                                                                    @("contact person's lis is empty")
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            @if (CustomerStage2Data.CustomerServices.Count > 0)
                                            {
                                                <!--Customer Services-->
                                                <div class="tab-pane" id="customerPageServices">
                                                    <div class="item-details-page">
                                                        <div class="row">
                                                            <table class="table border text-wrap text-nowrap table-bordered table-responsive mb-0 ">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sl No</th>
                                                                        <th>Service Name</th>
                                                                        <th>Date</th>
                                                                        <th>Quantity</th>
                                                                        <th>Amount</th>
                                                                        <th>Expiry Date</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (CustomerStage2Data.CustomerServices.Count > 0)
                                                                    {
                                                                        @foreach (var services in CustomerStage2Data.CustomerServices)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @services.RowIndex
                                                                                </td>
                                                                                <td>
                                                                                    @services.ServiceName
                                                                                </td>
                                                                                <td>
                                                                                    @((services.Date != null ? services.Date.Value.ToString("dd/MM/yyyy"):"--/--/----"))
                                                                                </td>
                                                                                <td>
                                                                                    @services.Quantity
                                                                                </td>
                                                                                <td>
                                                                                    @services.Amount
                                                                                </td>
                                                                                <td>
                                                                                    @((services.ExpiryDate != null ? services.ExpiryDate.Value.ToString("dd/MM/yyyy") : "--/--/----"))
                                                                                    
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr>
                                                                            <td colspan="6" class="text-center p-5" style="min-height:150px;pointer-events:none;">
                                                                                <label>
                                                                                    @("customer service list is empty")
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</PageLayoutNew>
@code {
    [Parameter] public int? CustomerEntityID { get; set; }


    #region Stage 2

    private ModalCustomer? childCustomerModal;

    private CustomerModel CustomerStage2Data = new();

    protected override async Task OnInitializedAsync()
    {
        await SwitchToView(CustomerEntityID.Value);
    }

    private async Task SwitchToView(int customerEntityID)
    {
        await LoadViewMenuList();
        await LoadViewData(customerEntityID);
    }
    private List<string> listPageMenuCategories = new()
    {
        "All",
        "Active",
        "in-active",
        "Ledger converted"
    };
    private List<ViewPageMenuModel> menuItem = new();
    private void OnMenuCategorySelectCallbackRecieved(int index)
    {
        //Menu Category Selected
    }

    //private async Task OnDeleteClickCallbackRecieved(List<int> deleteList)
    //{
    //    BulkActionModel deletingItems = new() { IDs = deleteList };
    //    if (await JS.Confirm("Confirm", "Are you sure you want to delete selected " + deleteList.Count + " customers?", SweetAlertMessageType.question, "Yes, Delete all", "No, Cancel"))
    //    {
    //        if (await API.PostAsync<bool, BulkActionModel>($"crm/bulk-customer-delete", deletingItems))
    //        {
    //            await SwitchToStage1();
    //        }
    //    }
    //}

    private async Task LoadViewMenuList()
    {
        menuItem = await API.GetAsync<List<ViewPageMenuModel>>("customer/get-customer-menu-list", true);
    }
    private async Task LoadViewData(int? customerEntityID)
    {
        CustomerStage2Data = await API.GetAsync<CustomerModel>($"customer/get-customer/{customerEntityID}", true);
    }

    private void EditCustomer()
    {
        Nav.NavigateTo($"customer-new/{CustomerStage2Data.EntityID}");
    }

    private async Task DeleteCustomer()
    {
        if (await JS.Confirm("Please confirm", "Are you sure you want to delete '" + CustomerStage2Data.Name + "' Cutomer?", SweetAlertMessageType.question, "Yes, Delete", "No, Cancel"))
        {
            if (await API.GetAsync<bool>($"customer/delete-customer/{CustomerStage2Data.EntityID}", true))
            {
                Nav.NavigateTo("customers");
            }
        }
    }

    private void NewCustomerAdded(CustomerModel customer)
    {
        CustomerStage2Data = customer;
    }

    #endregion
}
