@page "/ec_customers"
@using PB.Shared.Models.Common
@using PB.Shared.Models.eCommerce.Customers
<PageLayoutNew>
    <div class="main-container container-fluid">
        <div class="page-header">
            <div class="card">
                <div class="card-header py-2">
                    <ListPageHeader Settings="CustomersHeaderSettings" OnFilterButtonClick="(Func<PagedListPostModelWithFilter, Task>)FilterListPageTo" />
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="table-responsive">
                            <table class="table border text-nowrap text-md-nowrap table-hover mb-0 mt-2 ">
                                <thead>
                                    <tr>
                                        <th>
                                            Sl No.
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Phone No
                                        </th>
                                        <th>
                                            Email Address
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in CustomersPagedList.Data.Select((value, i) => new { i, value }))
                                    {
                                        var entry = item.value;
                                        var index = item.i;
                                        <tr>

                                            <td>
                                                @if (CustomersPagedList.PageIndex == 1)
                                                {
                                                    @(index + 1)
                                                }
                                                else
                                                {
                                                    @((CustomersPagedList.PageIndex * CustomersPagedList.PageSize) + (index + 1) - 10)
                                                }
                                            </td>
                                            <td>
                                                @entry.FirstName
                                            </td>
                                            <td>
                                                @entry.Phone
                                            </td>
                                            <td>
                                                @entry.EmailAddress
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <PaginationCustom PageSize="CustomersPagedList.PageSize" TotalCount="CustomersPagedList.TotalCount" TotalPages="CustomersPagedList.TotalPages" PageIndex="CustomersPagedList.PageIndex" LoadPageIndex="PageIndex" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</PageLayoutNew>



@code {
    private PagedList<EC_CustomerListModel> CustomersPagedList = new();
    private PagedListPostModelWithFilter searchmodel = new();
    HeaderSettingsModel CustomersHeaderSettings = new();
    protected override async Task OnInitializedAsync()
    {
        List<FilterSortInputModel> CustomerSortMenuItems = new()
        {
            new()
            {
                DisplayName = "Customer Name",
                FieldName = "FirstName"
            },
            new()
            {
                DisplayName = "Email",
                FieldName = "EmailAddress"
            },
        };
        CustomersHeaderSettings = new()
            {
                Heading = "Customers",
                SearchPlaceHolder = "Search by customer name..",
                NeedAddButton = false,
                NeedSortOption = true,
                SortMenuItems = CustomerSortMenuItems,
            };
        await LoadData();
    }


    private async Task LoadData()
    {
        CustomersPagedList = await API.PostAsync<PagedList<EC_CustomerListModel>, PagedListPostModelWithFilter>("ec_customer/get-ec-customers-paged-list", searchmodel);
    }
    private async Task PageIndex(int pageIndex)
    {
        searchmodel.PageIndex = pageIndex;
        await LoadData();
    }
    private async Task FilterListPageTo(PagedListPostModelWithFilter? filterModel)
    {
        searchmodel = filterModel == null ? new() : filterModel;
        await LoadData();
    }
}
