@using PB.CRM.Model.Enum
@using PB.Shared.Enum.Reports
@using PB.Shared.Models.Reports
@page "/general-ledger-report"

<PageLayoutNew>
    <div class="main-container container-fluid">
        <div class="page-header d-flex justify-content-between">
            <h1 class="page-title">Reports</h1>
            <div class="btn-toolbar float-right mr-7">
                <div class="form-group">
                    <select name="country" id="timePeriodSelect" class="form-control form-select" @onchange="(ChangeEventArgs e) => HandleReportPeriodSelected(e)">
                        <option value="0">Choose</option>
                        @foreach (var reportPeriod in Enum.GetValues(typeof(ReportPeriods)))
                        {
                            if (PeriodTypeID == (int)reportPeriod)
                            {
                                <option value="@((int)reportPeriod)" selected>@reportPeriod.ToString().Replace('_',' ')</option>
                            }
                            else
                            {
                                <option value="@((int)reportPeriod)">@reportPeriod.ToString().Replace('_', ' ')</option>
                            }
                        }
                    </select>
                </div>
                <a class="btn btn-primary btn-md me-2 ms-2" style="height:38px;" @onclick="NavigateToReportsPage"> <i class="fa fa-times fs-15"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row pt-5 pb-5">
                            <div class="col-lg-12 text-center">
                                <p class="fs-18 fw-bold mb-0">@GeneralLedger.ClientName</p>
                                <p class="h3 mb-1">General Ledger</p>
                                <p>@("From " + GeneralLedgerReportPostModel.FromDate.Value.ToString("dd/MM/yyy") + " To " + GeneralLedgerReportPostModel.ToDate.Value.ToString("dd/MM/yyy"))</p>
                            </div>
                        </div>
                        <div class="table-responsive push">
                            <table class="table table-bordered table-hover mb-0 text-nowrap">
                                <tbody>
                                    <tr class="">
                                        <th>Date</th>
                                        <th>Jounal No.</th>
                                        <th>Particulars</th>
                                        <th class="text-end">Debit</th>
                                        <th class="text-end">Credit</th>
                                        <th class="text-end">Balance</th>
                                    </tr>
                                    @foreach (var account in GeneralLedger.Accounts)
                                    {
                                        <tr class="">
                                        </tr>
                                        <tr class="">
                                            <th colspan="5">Account : @account.LedgerName</th>
                                        </tr>
                                        foreach(var acountItem in account.Items)
                                        {
                                            <tr>
                                                <td>@acountItem.Date.ToString("dd/MM/yyyy")</td>
                                                <td>@acountItem.JournalNo</td>
                                                <td>@acountItem.Particulars</td>
                                                <td>@acountItem.Debit</td>
                                                <td>@acountItem.Credit</td>
                                                <td>@acountItem.Balance</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</PageLayoutNew>

<div class="modal fade" id="ReportPeriodModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <EditForm Model="GeneralLedgerReportPostModel" OnValidSubmit="async () => await LoadGeneralLedgerReport()">
                <div class="modal-header">
                    <h6 class="modal-title">Custom</h6><button type="button" aria-label="Close" class="btn-close" data-bs-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    @if(PeriodTypeID == (int)ReportPeriods.Custom)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label mt-0 me-1">From Date : </label>
                                    <input type="date" class="form-control" @bind="GeneralLedgerReportPostModel.FromDate">
                                    <ValidationMessage For="() => GeneralLedgerReportPostModel.FromDate" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label mt-0 me-1">To Date : </label>
                                    <input type="date" class="form-control" @bind="GeneralLedgerReportPostModel.ToDate">
                                    <ValidationMessage For="() => GeneralLedgerReportPostModel.ToDate" />
                                </div>
                            </div>
                        </div>
                    }

                    @if (GeneralLedgerReportPostModel.IsAdmin && Branches.Count > 1)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label mt-0 me-1">Branch : </label>
                                    <select name="country" id="timePeriodSelect" class="form-control form-select" @bind="GeneralLedgerReportPostModel.BranchID">
                                        <option value="0">Choose</option>
                                        @foreach (var branch in Branches)
                                        {
                                            <option value="@(branch.ID)">@branch.Value</option>
                                        }
                                    </select>
                                    <ValidationMessage For="() => GeneralLedgerReportPostModel.BranchID" />
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <DropdownSelect DivClass="col-md-12"
                                        DropdownID="general-ledger-select"
                                        Label="Ledger :"
                                        Mode="(int)DropdownModes.GeneralLedgerReport"
                                        ModeGroup="(int)DropdownModes.CommonSearch"
                                        ItemSelected="HandleLedgerSelected"
                                        ReadDataOnSearch="true"
                                        SelectedItem="@(new DropdownSelectedItemModel(){ID=GeneralLedgerReportPostModel.LedgerID,Value=GeneralLedgerReportPostModel.LedgerName})" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {

    [Inject] public AuthenticationStateProvider? AuthenticationStateProvider { get; set; }
    GeneralLedgerReportModel GeneralLedger = new();
    GeneralLedgerReportPostModel GeneralLedgerReportPostModel = new();
    List<IdnValuePair> Branches = new();

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateProvider is not null)
        {
            var localStateProvider = (LocalAuthenticationStateProvider)AuthenticationStateProvider;
            var authState = await localStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;
            bool IsAuthenticated = user.Identity is not null ? user.Identity.IsAuthenticated : false;
            if (IsAuthenticated)
            {
                if (user.Claims.First(c => c.Type == "UserTypeID").Value == ((int)UserTypes.Client).ToString())
                {
                    GeneralLedgerReportPostModel.IsAdmin = true;
                    Branches = await API.GetAsync<List<IdnValuePair>>("common/get-branch-list", true);
                    if (Branches.Count == 1)
                        GeneralLedgerReportPostModel.BranchID = Branches[0].ID;
                }
            }
        }
        GeneralLedgerReportPostModel.FromDate = GeneralLedgerReportPostModel.ToDate = DateTime.UtcNow;
        PeriodTypeID = (int)ReportPeriods.Today;
        await JS.InvokeVoidAsync("ShowModal", "ReportPeriodModal");
    }
    int PeriodTypeID = 0;
    private async Task HandleReportPeriodSelected(ChangeEventArgs e)
    {
        PeriodTypeID = Convert.ToInt32(e.Value);
        GeneralLedgerReportPostModel.FromDate = GeneralLedgerReportPostModel.ToDate = null;
        if (PeriodTypeID == (int)ReportPeriods.Custom || Branches.Count > 1)
        {
            await JS.InvokeVoidAsync("ShowModal", "ReportPeriodModal");
            return;
        }
        switch (PeriodTypeID)
        {
            case (int)ReportPeriods.Today:
                GeneralLedgerReportPostModel.FromDate = GeneralLedgerReportPostModel.ToDate = DateTime.UtcNow;
                break;

            case (int)ReportPeriods.This_week:
                GeneralLedgerReportPostModel.ToDate = DateTime.UtcNow;
                GeneralLedgerReportPostModel.FromDate = GeneralLedgerReportPostModel.ToDate.Value.AddDays(-(int)GeneralLedgerReportPostModel.ToDate.Value.DayOfWeek);
                break;

            case (int)ReportPeriods.This_month:
                GeneralLedgerReportPostModel.ToDate = DateTime.UtcNow;
                GeneralLedgerReportPostModel.FromDate = new DateTime(GeneralLedgerReportPostModel.ToDate.Value.Year, GeneralLedgerReportPostModel.ToDate.Value.Month, 1);
                break;

            case (int)ReportPeriods.This_quarter:
                GeneralLedgerReportPostModel.ToDate = DateTime.UtcNow;
                int quarter = (GeneralLedgerReportPostModel.ToDate.Value.Month - 1) / 3 + 1;
                GeneralLedgerReportPostModel.FromDate = new DateTime(GeneralLedgerReportPostModel.ToDate.Value.Year, (quarter - 1) * 3 + 1, 1);
                break;

            case (int)ReportPeriods.This_year:
                GeneralLedgerReportPostModel.ToDate = DateTime.UtcNow;
                GeneralLedgerReportPostModel.FromDate = new DateTime(GeneralLedgerReportPostModel.ToDate.Value.Year, 1, 1);
                break;

            case (int)ReportPeriods.Yesterday:
                GeneralLedgerReportPostModel.ToDate = GeneralLedgerReportPostModel.FromDate = DateTime.UtcNow.AddDays(-1);
                break;

            case (int)ReportPeriods.Previous_week:
                int daysToPreviousSunday = (int)DateTime.UtcNow.DayOfWeek - (int)DayOfWeek.Sunday;
                GeneralLedgerReportPostModel.FromDate = DateTime.UtcNow.AddDays(-daysToPreviousSunday - 7);
                GeneralLedgerReportPostModel.ToDate = GeneralLedgerReportPostModel.FromDate.Value.AddDays(6);
                break;

            case (int)ReportPeriods.Previous_month:
                DateTime firstDayOfMonth = new DateTime(DateTime.UtcNow.Year, DateTime.UtcNow.Month, 1);
                GeneralLedgerReportPostModel.ToDate = firstDayOfMonth.AddDays(-1);
                GeneralLedgerReportPostModel.FromDate = GeneralLedgerReportPostModel.ToDate.Value.AddMonths(-1).AddDays(1);
                break;

            case (int)ReportPeriods.Previous_quarter:
                GeneralLedgerReportPostModel.FromDate = GetPreviousQuarterStart(DateTime.UtcNow);
                GeneralLedgerReportPostModel.ToDate = GetPreviousQuarterEnd(DateTime.UtcNow);
                break;

            case (int)ReportPeriods.Previous_year:
                int previousYear = DateTime.UtcNow.Year - 1;
                GeneralLedgerReportPostModel.FromDate = new DateTime(previousYear, 1, 1);
                GeneralLedgerReportPostModel.ToDate = new DateTime(previousYear, 12, 31);
                break;
        }
        await LoadGeneralLedgerReport();
    }
    static DateTime GetPreviousQuarterStart(DateTime date)
    {
        int quarter = (date.Month - 1) / 3;
        int startMonth = quarter * 3 + 1;
        return new DateTime(date.Year, startMonth, 1);
    }
    static DateTime GetPreviousQuarterEnd(DateTime date)
    {
        int quarter = (date.Month - 1) / 3;
        int endMonth = quarter * 3 + 3;
        int lastDay = DateTime.DaysInMonth(date.Year, endMonth);
        return new DateTime(date.Year, endMonth, lastDay);
    }
    private async Task LoadGeneralLedgerReport()
    {
        GeneralLedger = await API.PostAsync<GeneralLedgerReportModel, GeneralLedgerReportPostModel>("report/general-ledger", GeneralLedgerReportPostModel);
    }
    private void HandleLedgerSelected(DropdownItemSelectedCallbackModel ledger)
    {
        GeneralLedgerReportPostModel.LedgerID = ledger.ID;
        GeneralLedgerReportPostModel.LedgerName = ledger.Value;
    }
    private void NavigateToReportsPage()
    {
        Nav.NavigateTo("reports");
    }
}
