@page "/enquiry-view/{EnquiryID:int}"
@page "/enquiry-view/{EnquiryID:int}/{ReturnType:int}"

@attribute [Authorize(Roles = "FollowUp,Enquiry")]

@using PB.Shared.Models;
@using PB.CRM.Model.Enum;
@using PB.Model.Models;
@using PB.Shared.Enum.CRM;
@using PB.Model.Tables;

<PageLayoutNew>
    <div class="main-container container-fluid">
        <div class="row">

            <ListPageMenuLayout MenuItems="FollowupMenuList"
                                SelectedMenuID="EnquiryFollowupData.EnquiryID"
                                OnMenuItemSelect="LoadEnquiryFollowupData"
                                IsNeedDeleteOption="false"
                                LoaderDivID="@LeftMenuID"
                                ListHeading="All Enquiries"
                                IsNeedAddNewButton=false />

            <div class="itemlist-container">

                <div class="page-header">

                    <h1 class="page-title">@("Enquiry : " + EnquiryFollowupData.EnquiryName)</h1>

                    <div class="btn-toolbar float-right mr-7">

                        @if (EnquiryFollowupData.CurrentFollowupNature != (int)FollowUpNatures.Cancelled)
                        {
                            @if (EnquiryFollowupData.QuotationID == null)
                            {
                                <a class="btn btn-white btn-md me-2" @onclick="ConvertToQuotation">
                                    Quotation <i class="fe fe-file-plus mb-0 ms-2" style="font-size: 15px;color:var(--primary-bg-color)"></i>
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-white btn-md me-2" @onclick="NavigateToQuotation">
                                    Quotation<i class="fa fa-mail-reply mb-0 ms-2" style="font-size: 15px;color:var(--primary-bg-color)"></i>
                                </a>
                            }

                        }

                        @if (EnquiryFollowupData.CurrentFollowupNature == (int)FollowUpNatures.Followup || EnquiryFollowupData.CurrentFollowupNature == (int)FollowUpNatures.New)
                        {
                            <AuthorizeView Roles="FollowUp">
                                <a class="btn btn-white btn-md me-2" @onclick="async () => await AddNewFollowup()">
                                    Follow-up<i class="fa fa-plus mb-0 ms-2" style="color:var(--primary-bg-color)"></i>
                                </a>
                            </AuthorizeView>


                            <a class="btn btn-white btn-md me-2" @onclick="NavigateToEnquirySinglePage">
                                Enquiry<i class="fa fa-pencil mb-0 ms-2" style="color:var(--primary-bg-color)"></i>
                            </a>
                        }
                        @if (EnquiryFollowupData.CurrentFollowupNature == (int)FollowUpNatures.New || EnquiryFollowupData.CurrentFollowupNature == (int)FollowUpNatures.Cancelled)
                        {
                            <a class="btn btn-white btn-md me-2" @onclick="(async()=>await DeleteEnquiry(EnquiryID))">
                                <i class="fa fa-trash" style="color:red"></i>
                            </a>
                        }

                        @if (ReturnType == 0)
                        {
                            <a class="btn btn-white btn-md me-2" @onclick="@(()=>Nav.NavigateTo($"enquiries"))">
                                <i class="ion-close-round" style="color:var(--secondary-bg-color)"></i>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-white btn-md me-2" @onclick="@(()=>Nav.NavigateTo($"follow-ups"))">
                                <i class="ion-close-round" style="color:var(--secondary-bg-color)"></i>
                            </a>
                        }

                    </div>

                </div>

                <div class="row mt-4" id="enquiry-followup-details-div">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="panel panel-primary">
                                    <div class=" tab-menu-heading">
                                        <div class="tabs-menu1">
                                            <!-- Tabs -->
                                            <ul class="nav panel-tabs">
                                                <!--Overview Tab-->
                                                <li><a href="#overViewTab" class="active" data-bs-toggle="tab">Overview</a></li>
                                                @if (EnquiryFollowupData.EnquiryItem.Count > 0)
                                                {
                                                    <li><a href="#tab6" data-bs-toggle="tab">Items</a></li>
                                                }
                                                <AuthorizeView Roles="FollowUp">
                                                    @if (HasFollowupHistory)
                                                    {
                                                        <!--History Tab-->
                                                        <li><a href="#historyTab" data-bs-toggle="tab">Follow-up History</a></li>
                                                    }
                                                </AuthorizeView>

                                            </ul>
                                        </div>
                                    </div>
                                    <!--Tab Main Content-->
                                    <div class="panel-body tabs-menu-body">
                                        <div class="tab-content">

                                            <!--Overview Tab-->
                                            <div class="tab-pane active" id="overViewTab">
                                                <div class="item-details-page">
                                                    <div class="row">

                                                        <!--Details-->
                                                        <div class="col-lg-8 col-12">

                                                            <!--Enquiry Details-->
                                                            <div class="group pb-3">

                                                                <div class="row">
                                                                    <label class="pb-3 fw-bold fs-16" style="color:var(--primary-bg-color)">Enquiry Details </label>
                                                                </div>

                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Enquiry No </label>
                                                                    <label class="col-md-7 col-auto ">@EnquiryFollowupData.EnquiryNo</label>
                                                                </div>

                                                                <div class="row">
                                                                    <label class="col-5 col-auto items-label text-muted">Customer Name</label>
                                                                    <label class="col-7 col-auto">@EnquiryFollowupData.CustomerName</label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="col-5 col-auto items-label text-muted">Mobile No</label>
                                                                    <label class="col-7 col-auto">@EnquiryFollowupData.Phone</label>
                                                                </div>
                                                                @if (EnquiryFollowupData.EmailAddress != null)
                                                                {
                                                                    <div class="row">
                                                                        <label class="col-5 col-auto items-label text-muted">Email</label>
                                                                        <label class="col-7 col-auto">@EnquiryFollowupData.EmailAddress</label>
                                                                    </div>
                                                                }
                                                                <div class="row">
                                                                    <label class="col-5 col-auto items-label text-muted">Status</label>
                                                                    <label class="col-7 col-auto">

                                                                        @if (EnquiryFollowupData.CurrentFollowupNature == 0)
                                                                        {
                                                                            <span class="@EnquiryFollowupData.NatureCSSClass">@("Enquiry created")</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="@EnquiryFollowupData.NatureCSSClass">
                                                                                @(((FollowUpNatures)EnquiryFollowupData.CurrentFollowupNature).ToString())
                                                                            </span>
                                                                        }
                                                                    </label>
                                                                </div>

                                                                <div class="row">
                                                                    <label class="col-5 col-auto items-label text-muted">Added On</label>
                                                                    <label class="col-7 col-auto">@EnquiryFollowupData.Date.Value.ToString("dd/MM/yyyy h:mm tt")</label>
                                                                </div>

                                                                <div class="row">
                                                                    <label class="col-5 col-auto items-label text-muted">Created By</label>
                                                                    <label class="col-7 col-auto">@EnquiryFollowupData.Username</label>
                                                                </div>

                                                                <div class="row">
                                                                    <label class="col-5 col-auto items-label text-muted">Items Count</label>
                                                                    <label class="col-7 col-auto">@EnquiryFollowupData.ItemsCount</label>
                                                                </div>

                                                                @if (EnquiryFollowupData.LeadQuality >0 || EnquiryFollowupData.LeadQuality !=null)
                                                                {
                                                                    <div class="row">
                                                                        <label class="col-md-5 col-auto items-label text-muted">Lead Quality</label>
                                                                        <label class="col-md-7 col-auto">
                                                                            <span class="@EnquiryFollowupData.LeadQualityCssClass">
                                                                                @(((LeadQualities)EnquiryFollowupData.LeadQuality).ToString())
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                }

                                                                @if (EnquiryFollowupData.LeadThroughID != null || EnquiryFollowupData.LeadThroughID > 0)
                                                                {
                                                                    <div class="row">
                                                                        <label class="col-md-5 col-auto items-label text-muted">Lead Through</label>
                                                                        <label class="col-md-7 col-auto">
                                                                            <i class="@EnquiryFollowupData.LeadMediaIconClass"></i>
                                                                            <span class="ms-2">
                                                                                @EnquiryFollowupData.LeadThroughName
                                                                                @* @(((LeadThroughs)EnquiryFollowupData.LeadThroughID).ToString())*@
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                }

                                                                <div class="row">
                                                                    <label class="col-md-5 col-auto items-label text-muted">Description</label>
                                                                    <label class="col-md-7 col-auto with-breaks">
                                                                        @((MarkupString)EnquiryFollowupData.Description)
                                                                    </label>
                                                                </div>

                                                                @if (EnquiryFollowupData.FirstFollowUpDate != null)
                                                                {
                                                                    <div class="row">
                                                                        <label class=" text-muted items-label col-md-5 col-auto">First Followup Date</label>
                                                                        <label class="col-md-7 col-auto">@EnquiryFollowupData.FirstFollowUpDate.Value.ToString("dd/MM/yyyy")</label>
                                                                    </div>
                                                                }

                                                            </div>

                                                            <!--Enquiry Assignees-->
                                                            @if (EnquiryFollowupData.FollowupAssignees.Count > 0)
                                                            {
                                                                <div class="group pb-3">

                                                                    <div class="row">
                                                                        <label class="pb-3 fw-bold fs-16" style="color:var(--primary-bg-color)">Enquiry Assignees </label>
                                                                    </div>

                                                                    @for (int i = 0; i < EnquiryFollowupData.FollowupAssignees.Count; i++)
                                                                    {
                                                                        var assignee = EnquiryFollowupData.FollowupAssignees[i];

                                                                        <div class="row">
                                                                            <label class="col-12 col-auto items-label text-muted">@assignee</label>
                                                                        </div>
                                                                    }

                                                                </div>
                                                            }

                                                        </div>

                                                        <!--Last Followup Details-->
                                                        <div class="col-lg-4 col-12">
                                                            <div class="group pt-4 position-relative">
                                                                <div class="right-field" style="padding-top: 22px;">
                                                                    <div class="fw-500 fs-16 mb-2">
                                                                        @if (!HasFollowupHistory)
                                                                        {
                                                                            @("New Enquiry")
                                                                        }
                                                                        else
                                                                        {
                                                                            @("Last Followup")
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="right-field">
                                                                    <div class="font-weight-light">
                                                                        <span>
                                                                            <span class="text-dashed-underline">
                                                                                Date
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="fw-500 fs-16">
                                                                        @if (!HasFollowupHistory)
                                                                        {
                                                                            @("--:--:----")
                                                                        }
                                                                        else
                                                                        {
                                                                            @(LatestFollowup.FollowUpDate.HasValue ? LatestFollowup.FollowUpDate.Value.ToString("dd/MM/yyyy h:mm tt") : "--:--:----")
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="right-field">
                                                                    <div class="font-weight-light">
                                                                        <span>
                                                                            <span class="text-dashed-underline">
                                                                                Status
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="fw-500 fs-16">
                                                                        @if (!HasFollowupHistory)
                                                                        {
                                                                            @("New Enquiry")
                                                                        }
                                                                        else
                                                                        {
                                                                            @(LatestFollowup.Status)
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="right-field">
                                                                    <div class="font-weight-light">
                                                                        <span>
                                                                            <span class="text-dashed-underline">
                                                                                @if (!HasFollowupHistory)
                                                                                {
                                                                                    @("Created By")
                                                                                }
                                                                                else
                                                                                {
                                                                                    @("Updated By")
                                                                                }
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="fw-500 fs-16">
                                                                        @if (HasFollowupHistory)
                                                                        {
                                                                            @LatestFollowup.Username
                                                                        }
                                                                        else
                                                                        {
                                                                            @EnquiryFollowupData.Username
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="right-field">
                                                                    <div class="font-weight-light">
                                                                        <span>
                                                                            <span class="text-dashed-underline">
                                                                                @if (!HasFollowupHistory)
                                                                                {
                                                                                    @("Fisrt Followup Date")
                                                                                }
                                                                                else
                                                                                {
                                                                                    @("Next Followup Date")
                                                                                }
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                    <div class="fw-500 fs-16">
                                                                        @(LatestFollowup.NextFollowUpDate.HasValue ? LatestFollowup.NextFollowUpDate.Value.ToString("dd/MM/yyyy") : "--:--:----")
                                                                    </div>
                                                                </div>

                                                                <AuthorizeView Roles="FollowUp">
                                                                    @if (HasFollowupHistory && (EnquiryFollowupData.CurrentFollowupNature == (int)FollowUpNatures.New || EnquiryFollowupData.CurrentFollowupNature == (int)FollowUpNatures.Followup))
                                                                    {
                                                                        <!--Edit button-->
                                                                        <button class="btn btn-last-followup-edit p-2" type="button" @onclick="async () => await EditLastFollowup()">
                                                                            <i class="fe fe-edit" style="color:var(--primary-bg-color);font-weight:900;"></i>
                                                                        </button>
                                                                    }
                                                                </AuthorizeView>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            @if (EnquiryFollowupData.EnquiryItem.Count > 0)
                                            {
                                                <div class="tab-pane" id="tab6">
                                                    <div class="row">
                                                        <table class="table border table-responsive text-wrap text-nowrap table-bordered mb-1 ">
                                                            <thead>
                                                                <tr>
                                                                    <th>Sl No</th>
                                                                    <th>Item Name</th>
                                                                    <th>Description</th>
                                                                    <th>Quantity</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (EnquiryFollowupData.EnquiryItem.Count > 0)
                                                                {
                                                                    @foreach (var enquiry in EnquiryFollowupData.EnquiryItem)
                                                                    {
                                                                        <tr>

                                                                            <td>
                                                                                @enquiry.RowIndex
                                                                            </td>

                                                                            <td style="min-width:200px">
                                                                                @enquiry.ItemName
                                                                            </td>

                                                                            <td style="min-width:200px">
                                                                                @enquiry.Description
                                                                            </td>

                                                                            <td style="min-width:80px">
                                                                                @enquiry.Quantity
                                                                            </td>

                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            }

                                            @if (HasFollowupHistory)
                                            {
                                                <!--History Tab-->
                                                <div class="tab-pane" id="historyTab">
                                                    <table class="table details-page-table text-wrap text-nowrap">
                                                        <thead>
                                                            <tr class="text-muted">
                                                                <th width="25%">Date</th>
                                                                <th width="25%"> Next Followup Date</th>
                                                                <th>Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int i = 0; i < EnquiryFollowupData.Histories.Count; i++)
                                                            {
                                                                var historyItem = EnquiryFollowupData.Histories[i];
                                                                <tr>

                                                                    <td class="text-muted" style="font-size: 12px;">
                                                                        @(historyItem.FollowUpDate == null ? "" : historyItem.FollowUpDate.Value.ToString("dd/MM/yyyy h:mm tt"))
                                                                    </td>

                                                                    <td class="text-muted" style="font-size: 12px;">
                                                                        @(historyItem.NextFollowUpDate == null ? "" : historyItem.NextFollowUpDate.Value.ToString("dd/MM/yyy"))
                                                                    </td>

                                                                    <td>
                                                                        <div class="position-relative pb-2">
                                                                            <span style="font-size: 12px;">@historyItem.Status</span>
                                                                            <span style="color: red; font-size: 12px;font-style: italic;">@historyItem.ShortDescription</span>
                                                                            <div class="follow-up-history-user">
                                                                                <span>

                                                                                    @("followup by")

                                                                                    <i class="text-muted">
                                                                                        @(" - " + historyItem.Username)
                                                                                    </i>

                                                                                </span>
                                                                            </div>
                                                                           
                                                                        </div>

                                                                    </td>

                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</PageLayoutNew>

<ModalFollowUp @ref="childFollowupModal" Type="(int)FollowUpTypes.Enquiry" Saved="ModalEnquiryFollowupCallbackRecieved" />

@code {

    [Parameter] public int EnquiryID { get; set; }
    [Parameter] public int ReturnType { get; set; } = 0;

    private string LeftMenuID = "";
    private bool HasFollowupHistory = false;


    private bool IsNewFollowup = false;

    private FollowUpModel LatestFollowup = new();
    private ModalFollowUp? childFollowupModal;

    private PagedListPostModelWithFilter FollowupSearchModel = new();
    private List<ViewPageMenuModel> FollowupMenuList = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadEnquiryFollowupData(EnquiryID);
    }

    #region Enquiry Follow-up Details

    private EnquiryFollowUpModel EnquiryFollowupData = new();

    private void NavigateToEnquirySinglePage()
    {
        Nav.NavigateTo($"enquiry/{EnquiryFollowupData.EnquiryID}");
    }

    private async Task LoadEnquiryFollowupMenuList()
    {
        if (ReturnType == 1)
        {
            FollowupMenuList = await API.GetAsync<List<ViewPageMenuModel>>("crm/get-enquiry-followup-menu-list", true);
        }
        else
        {
            FollowupMenuList = await API.GetAsync<List<ViewPageMenuModel>>("crm/get-enquiry-menu-list", true);
        }
    }

    private async Task LoadEnquiryFollowupData(int? enquiryID)
    {
        await LoadEnquiryFollowupMenuList();
        EnquiryFollowupData = await API.GetAsync<EnquiryFollowUpModel>($"crm/get-enquiry-details/{enquiryID}", true);
        if (EnquiryFollowupData.Histories.Count > 0)
        {
            HasFollowupHistory = true;
            LatestFollowup = EnquiryFollowupData.Histories[0];
        }
        else
        {
            HasFollowupHistory = false;
            LatestFollowup.NextFollowUpDate = EnquiryFollowupData.FirstFollowUpDate;
        }
        StateHasChanged();
    }

    private void ConvertToQuotation()
    {
        Nav.NavigateTo($"quotation/{0}/{EnquiryFollowupData.EnquiryID}");
    }

    private void NavigateToQuotation()
    {
        Nav.NavigateTo($"quotation/{EnquiryFollowupData.QuotationID}/{0}");
    }

    private async Task AddNewFollowup()
    {

        IsNewFollowup = true;
        await childFollowupModal.AddNewFollowUp(
            EnquiryFollowupData.EnquiryID,
            (int)FollowUpTypes.Enquiry,
            EnquiryFollowupData.EnquiryName);

    }

    private async Task EditLastFollowup()
    {
        await childFollowupModal.UpdateFollowUp(
            LatestFollowup.FollowUpID,
            EnquiryFollowupData.EnquiryName + " Followup");

    }

    private async void ModalEnquiryFollowupCallbackRecieved()
    {
        await LoadEnquiryFollowupData(EnquiryFollowupData.EnquiryID);
        StateHasChanged();
    }

    #endregion

    private async Task DeleteEnquiry(int Id)
    {
        if (await API.DeleteAsync("crm/delete-enquiry", Id, true))
        {
            await JS.SuccessMessage("Deleted Successfully");
            await Task.Delay(500);
            if (ReturnType == 0)
            {
                Nav.NavigateTo("enquiries");
            }
            else
            {
                Nav.NavigateTo("follow-ups");
            }
        }
    }
}
